/*body {
    background-color: linen;
 }
 h1 {
    color: maroon;
    margin-left: 40px;
 }*/
 
 /*h2{
    font-family:arial; 
    color:#e00b80;
}
h3{
    font-family:arial; 
    color:#ff0000;
}

#ear{
    font-family:arial; 
    color:#0000ff;
}

.l1{
    font-family: fantasy; 
    
}*/
/*.l2{
    
    color: #993399;;
}*/